.form{
  background-color: #FFFFFF;
}
.form__content{
  max-width: 400px;
  margin: 70px auto;
}
.form__title{
  margin: 40px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.form__label{
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  margin-top: 24px;
}
.form__label-hidden{
  display: none;
}
.form__input{
  width: 100%;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}
.form__input:last-child{
  margin-bottom: 0;
}
.form__input-hidden{
  display: none;
}
.form__button{
  width: 100%;
  padding: 13px 0 15px;
  background-color: #3456F3;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
  opacity: 1;
  transition: opacity 1s;
}
.form__button:hover{
  cursor: pointer;
  opacity: 0.6;
}
.form__button-up{
  margin-top: 152px;
}
.form__button-in{
  margin-top: 221px;
}
.form__text{
  font-size: 14px;
  line-height: 17px;
  text-align: center;  
  color: #A0A0A0;
  margin-top: 16px;
}
.form__error-message{
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  display: block;
  visibility: hidden;
}
.form__link{
  margin-left: 6px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #3456F3;
  text-decoration: none;
  opacity: 1;
  transition: opacity 1s;
}
.form__link:hover{
  cursor: pointer;
  opacity: 0.6;
}
.form__error-message-hidden{
  visibility: hidden;
}
.form__error-message-active{
  visibility: visible;
}

.form__button_inactive{
  background-color: gray;
}

@media screen and (max-width: 460px){
  .form__content{
    max-width: 260px;
    margin: 56px auto 30px;
  }
  .header__logo-form{
    display: block;
    margin: 0 auto;
  }
  .form__title{
    margin: 50px 0 80px;
    text-align: center;
  }
  .form__button{
    font-size: 12px;
    line-height: 14px;
  }
  .form__button-up{
    margin-top: 222px;
  }
  .form__button-in{
    margin-top: 309px;
  }
  .form__text{
    font-size: 12px;
    line-height: 14px;
    margin-top: 14px;
  }
  .form__link{
    margin-left: 7px;
    font-size: 12px;
    line-height: 14px;
  }
}
