.filter{
  display: flex;
  align-items: center;
}
.filter__text{
  font-size: 13px;
  line-height: 18px;
  margin: 0 14px 0 0;

}
#highload1 {       
  display: none;
}
#highload1+.label, #highload1+.label::before, #highload1+.label::after {
  transition: all .3s; 
}
#highload1+.label {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 20px;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
  border-radius: 16px;
  cursor: pointer;
}
#highload1+.label::after {
border-radius: 50%;
  content: '';
  position: absolute;
  top: 3px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: rgba(43, 224, 128, 1);          
}
#highload1:checked+.label::before {
  content: attr(data-onlabel);
  left: 16px;
  right: auto;
  color: #fff;
}
#highload1:checked+.label::after {
  left: 18px;
  top: 3px;
  background-color: rgba(43, 224, 128, 1);
}

#highload1+.label {             
  background-color: rgba(250, 250, 250, 1);
}
#highload1:checked+.label {
  background-color: rgba(250, 250, 250, 1);
}
#highload1:checked+.label::before {
  color: #fff;
}

@media screen and (max-width: 1000px){
  .filter{
    justify-content: center;
    margin-top: 38px;
  }
}