.filter{
  display: flex;
  align-items: center;
}
.filter__text{
  font-size: 13px;
  line-height: 18px;
  margin: 0 14px 0 0;
}

.filter__input {
  display: none;
}
.filter__container{
  width: 36px;
  height: 20px;
}

.filter__label{
  width: 38px;
  height: 26px;
  background-image: url("/src/images/label.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0;
}
.filter__label:hover{
  opacity: .6;
  cursor: pointer;
}
.filter__label-active{
  background-image: url("/src/images/label-active.svg");
}

@media screen and (max-width: 1000px){
  .filter{
    justify-content: center;
    margin-top: 38px;
  }
}